$hsize: 3.75rem;
$weight: 700;
$family:'Montserrat,sans-serif';
$psize: 1.25rem;
$pweight: 500;
$pline-height: 1.8;
$pfont-family: 'PT Sans',sans-serif;
$bsize: 1rem;
$bletterspacing: 2px;
$relative:'relative';
$absolute:'absolute';
$initial:'initial';
$h5size: 1.5rem;
$h5weight: 400;
$h5lineheight: 1.6;
$sletterspacing :4px;

